.fabGroup {
  position: fixed;
  bottom: 80px;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 10;
}

@media(min-width: 768px) {
  .fabGroup {
    display: none;
  }
}