/* styles.module.css */
.activeButton {
  background-color: #0070f3 !important;
  color: white !important;
  border: none !important;
}

.editorButton {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.editorButton:hover {
  background-color: #f0f0f0;
}