.productDetails {
  min-height: 100vh;
  padding: 20px;

  .info {
    margin-bottom: 40px;

    h1 {
      font-size: 30px;
    }

    span {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .images {
    margin-bottom: 40px;

    .cover {
      width: 100%;
      position: relative;
      height: 450px;
      border-radius: 10px;
      margin-bottom: 40px;
      border: 1px solid gainsboro;

      .nav {
        position: absolute;
        display: flex;
        bottom: 20px;
        right: 20px;
        z-index: 1;

        div {
          cursor: pointer;
          border-radius: 30px;
          background-color: gainsboro;
          z-index: 99;
          flex-shrink: 0;
          width: 36px;
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:first-child {
            margin-right: 10px;

          }

          svg {
            width: 24px;
            height: 24px;
            flex-shrink: 0;

          }
        }
      }

      span {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        color: rgb(200, 200, 200);
        z-index: 10;
      }

      img {
        object-fit: contain;


      }
    }

    .secondary {
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      flex-shrink: 0;

      .image {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        width: 100px;
        height: 100px;

        img {
          object-fit: contain;
        }

        flex-shrink: 0;

        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }

  .description {
    margin-bottom: 40px;
    white-space: pre-line;
  }

  .customization {
    margin-bottom: 40px;

    h2 {
      margin-bottom: 20px;
    }
  }

  .actions {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;

    button {
      margin-bottom: 20px;
    }
  }

  .specs {
    margin-bottom: 20px;
    white-space: pre-line;

    h2 {
      margin-bottom: 20px;
    }

    .list {
      display: flex;
      flex-direction: column;

      span {
        margin-bottom: 10px;
      }
    }
  }

  .shipping {
    margin-bottom: 40px;

    div {
      margin-bottom: 20px;

      span {
        display: block;
      }
    }
  }

  .col {
    display: flex;
    flex-direction: column;
  }

  .row {
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    input,
    select {
      width: 50%;
    }

    input {
      margin-right: 10px;
    }
  }
}

@media (min-width: 768px) {
  .productDetails {
    padding: 50px 0 50px 0;
    max-width: 1200px;
    margin: auto;

    .top {
      display: flex;

      .images {
        .cover {
          height: 70vh;
        }
      }

      .left {
        width: 65%;
        flex-shrink: 0;
      }

      .right {
        width: 35%;
        flex-shrink: 0;
      }
    }

    .info {
      text-align: left;
      padding: 0;

    }


  }

  .modalContent {
    .addOns {
      grid-template-columns: repeat(3, 200px);
      gap: 30px;
      justify-content: center;
    }
  }
}

@media (min-width: 1024px) {
  .productDetails {
    .cover {
      width: 100%;

      img {
        object-fit: contain;
      }
    }

    .images {
      margin-right: 50px;
    }
  }

  .previewWrapper {
    .preview {
      width: 40%;
      padding-top: 40%;
    }
  }
}