.modalBackdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(5px);
  cursor: pointer;
  z-index: 10;
}

.modal {
  background-color: var(--background-primary);
  border-radius: 10px;
  position: fixed;
  z-index: 11;
}

.modalClose {
  height: 45px;
  width: 45px;
  background-color: var(--background-secondary);
  border-radius: 45px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;

  svg {
    width: 25px;
  }
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px 0 25px;
  color: var(--text-primary-color);
}

.modalBody {
  height: 65vh;
  overflow-y: auto;
  padding: 25px;
  overflow-x: hidden;
  color: var(--text-primary-color);
}

.modalFooter {
  display: flex;
  padding: 25px;
  justify-content: flex-end;
  color: var(--text-primary-color);
  button {
    &:first-child {
      margin-right: 15px;
    }
  }
}

@media (max-width: 768px) {
  .modal {
    width: 100% !important;
  }
  .modalBody {
    width: 100% !important;
  }
}
