.pageWrapper {
  background-color: #f5f5f7;
  min-height: 100vh;

  .page {
    padding: 30px;

    .pageHeader {
      .pageHeaderTop {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        align-items: center;

        .pageHeaderLeft {
          display: flex;
          align-items: center;

          .backAction {
            width: 42px;
            height: 42px;
            border-radius: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: 0;
            border: 0;

            svg {
              width: 25px;
              height: 25px;
              color: black;
            }
          }

          .pageHeaderTitle {
            h2 {
              font-size: 18px;
            }
          }
        }

        .pageHeaderRight {}



        // .pageHeaderActions {
        //   display: none;

        //   button {
        //     &:not(:last-child) {
        //       margin-right: 10px;
        //     }
        //   }
        // }
      }

      .pageHeaderBottom {
        margin-bottom: 20px;
      }
    }

  }
}