.sidebar {
  height: 100vh;
  background-color: white;
  position: fixed;
  width: 235px;
  padding: 55px 30px;
  border-right: 1px solid rgb(236, 236, 236);
  overflow-y: auto;
  .logo {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    img {
      flex-shrink: 0;
      width: 150px;
    }
  }
  .links {
    .link {
      color: #949494;
      text-decoration: none;
      padding: 5px;
      border-radius: 5px;
      display: flex;
      align-items: flex-start;
      margin-bottom: 10px;
      transition: all 0.3s;
      span {
        display: block;
        width: 100%;
      }
      &:hover {
        background-color: #dddddd;
      }
      svg {
        width: 20px;
        flex-shrink: 0;
        margin-right: 10px;
      }
      &.active {
        color: black;
        font-weight: 500;
      }
    }
    .sub {
      padding-left: 30px;
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    bottom: 0;
    height: fit-content;
    width: 100%;
    padding: 10px;
    .logo {
      display: none;
    }
    .links {
      display: flex;
      .link {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        span {
          font-size: 14px;
        }
      }
    }
  }
}
