.pageHeader {
  .pageHeaderTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;

    .pageHeaderActions {
      display: none;

      button {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }

  .pageHeaderBottom {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .pageHeader {
    .pageHeaderTop {
      .pageHeaderActions {
        display: flex;
      }
    }
    .fabs {
      display: none;
    }
  }
}